body {
    overflow-x: hidden;
}
    #imgcontainer {
        /* border: 10px solid darkslategrey; */
        position: relative;
            left: -8px;
            top: -8px;
        width: auto;
        height: auto;
    }
        #mntbck {
            /* animation: mountain 6s; */
            /* border: 1px solid green; */
            position: absolute;
            width: 1600px;
            z-index: 1;
            height: 900px;
        }
            @keyframes mountain {
                0% {transform: translateY(0); transform: scale(1.0);}
                50% {transform: translateY(300px); transform: scale(1.5);}
                100% {transform: translateY(0); transform: scale(1.0);}
            }
        #fstbck1 {
            /* animation: forest 6s; */
            /* border: 1px solid blue; */
            position: absolute;
                top: 450px;
            width: 1600px;
            z-index: 2;
            height: 450px;
        }
        #fstbck2 {
            /* animation: forest 6s; */
            /* border: 1px solid blue; */
            position: absolute;
                /* top: 50vh; */
            width: 1600px;
            z-index: 2;
            height: 450px;
        }
            @keyframes forest {
                0% {transform: scale(1.0);}
                50% {transform: scale(1.5);}
                100% {transform: scale(1.0);}
            }
            

/*
NEXT STEP:
work on creating javascript that will allow me to make a scrolling effect. i think after that i will work on adding
new elements, like div's in the body to hold text, but i can see that not working due to my lack of knowledge.

currently i am stuck between the css non-adaptive animation and the javascript adaptive animation. in theory, the 
css animation i have programmed above will do the animation once and return it to its original state afterwards. the 
js animation is what i really want to work. the css is basically a test for function. however, that's not working.
and neither is the js. i need to make sure scrollY outputs in js so that i know it's at least moving. and then 
figure what's up with the css if i need to

update: currently i got the animations to work. now i am trying to figure out how to get the scroll bar to work and
give me a number in js, and also i have to figure out how to make the page longer than just the images (probably get
the scrollY value but set it so that the page doesn't translate down until a certain point, and then animations
in between)
*/